html, body {
	padding: 0;
	margin: 0;
	background-color: #0054a6;
background: #00225e; /* Old browsers */
background: -moz-linear-gradient(top,  #00225e 0%, #0054a6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00225e), color-stop(100%,#0054a6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00225e 0%,#0054a6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00225e 0%,#0054a6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00225e 0%,#0054a6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00225e 0%,#0054a6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00225e', endColorstr='#0054a6',GradientType=0 ); /* IE6-9 */

	background: #364b71;
	font-family: 'PT Sans', arial, sans-serif;
	color: #ffffff;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.centerPage {
	text-align: center;
	position: relative;
}

#myName {
	font-size: 42px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	color: rgba(255, 255, 255, .45);
	transition: 400ms color, 100ms transform;
	-webkit-user-select: none;
	text-align: center;
	cursor: pointer;
	height: 64px;
	line-height: 32px;
	top: 50%;
	margin-top: -32px;
}

#myName:hover {
	color: rgba(255, 255, 255, .5);
}

#myName:active {
	transform: scale(.95);
	color: rgba(255, 255, 255, .75);
}

#myName.explode {
	transition: 400ms opacity, 1000ms transform !important;
	transform: scale(3);
	opacity: 0;
}

#canvasContainer {
	position: absolute;
	top: 0;
	left: 0;
	
}

.smallText {
	font-size: 14px;
	color: rgba(255, 255, 255, .75);	
}

canvas {
	/*cursor: pointer;*/
	position: relative;
	z-index: 1;
}

		.icon {
			/*background-image: url('/static/img/icons.png');*/
			background-image: url('/static/img/icons_white.png');
			height: 32px;
			width: 32px
		}

		.icon:hover {
			opacity: 1;
		}

