{% extends "base.html" %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/css/pageLayout.css">
{% endblock %}

{% block main %}
	<main>
	{% for article in articles %}
		<article class="mid640">
				{% if article.image %}
					<img class="blogListImage" src="{{article.image}}">
				{% endif %}
			<h2><a href="/blog/{{article._id}}">{{article.title}}</a></h2>
			<div class="pubDate">{{article._created}}</div>
			<div class="content">
			{{article._content}}</div>
		</article>
	{% endfor %}
		<div class="mid" style="font-size:16px;text-align:center;color:#789;padding:20px 0;">
			{% if previous_offset >= 0 %}<a href="?offset={{previous_offset}}">Previous</a>{% endif %} | {% if next_offset %}<a href="?offset={{next_offset}}">Next</a>{% endif %}
		</div>
	</main>
{% endblock %}
